/*FOR CELLPHONES */
@media only screen and (max-width: 767px){
    .bg-home{
        background-color:#252424;
        height:100vh;
        overflow-x:hidden;
    }
    .bg-home-content h2{
        color:white;
        font-family: Oswald;
        font-size: 20px;
        letter-spacing: 2px;
        margin:0;
        text-align:center;
    }
    .bg-home-content h2:first-child{
        margin-top:45vh;
    }
    hr{
        margin-top:20px;
        margin-bottom:20px;
        width:100%;
        color:white;
        height: 1px;
        border:none;
        background-color:white;
    }
    .home-content p{
        font-size: 12px;
        color:#5d5c5c;
        font-family: oswald;
        letter-spacing: 2px;
        margin-top:2px;
        margin-bottom:0px;
        text-align:center;
    }
    .home-content p:last-child{
        color:white;
        border:2px solid #008f91;
        width:100px;
        text-align: center;
        padding:5px;
        border-radius:10px;
        font-size:12px;
        margin-top:20px;
        margin-left:auto;
        margin-right:auto;
    }
    .home-content p:last-child:hover{
        background-color:#008f91;
        cursor:pointer;
    }
    .bg-home-picture p{
        min-height:200px;
        border:2px solid white;
        border-radius: 300px;
        width:200px;
        margin-top:-450px;
        background-color:white;
        margin-left:auto;
        margin-right:auto;
    }
} 

@media only screen and (min-width: 768px) { 
    .bg-home{
        background-color:#252424;
        min-height:100vh;
    }
    .bg-home-content h2{
        color:white;
        font-family: Oswald;
        font-size: 5vw;
        letter-spacing: 5px;
    }
    .home-content h2{
        margin: 0px 0px 0px 100px;
        line-height:50px;
    }
    .home-content h2:first-child{
        margin-top:30vh;
    }
    hr{
        margin-top:20px;
        margin-bottom:20px;
        width:75%;
        margin-left:100px;
        color:white;
        height: 1px;
        border:none;
        background-color:white;
    }
    .home-content p{
        font-size:18px;
        color:#5d5c5c;
        margin: 0px 0px 0px 100px;
        font-family: oswald;
        letter-spacing: 2px;
    }
    .home-content p:last-child{
        margin-top:20px;
        color:white;
        border:2px solid #008f91;
        width:120px;
        text-align: center;
        padding:5px;
        border-radius:10px;
        font-size:14px;
    }
    .home-content p:last-child:hover{
        background-color:#008f91;
        cursor:pointer;
    }
    .bg-home-picture p{
        min-height:30vw;
        border:2px solid white;
        border-radius: 300px;
        width:30vw;
        margin-top:30vh;
        margin-left:auto;
        margin-right:auto;
        background-color:white;
    }
} 
/*laptop desktops*/
@media only screen and (min-width: 992px) {
    .bg-home{
        background-color:#252424;
        min-height:100vh;
    }
    .bg-home-content h2{
        color:white;
        font-family: Oswald;
        font-size: 2.5vw;
        letter-spacing: 5px;
    }
    .home-content h2{
        margin: 0px 0px 0px 10vw;
        line-height:2.5vw;
    }
    .home-content h2:first-child{
        margin-top:30vh;
    }
    hr{
        margin-top:20px;
        margin-bottom:20px;
        width:75%;
        margin-left:10vw;
        color:white;
        height: 1px;
        border:none;
        background-color:white;
    }
    .home-content p{
        font-size:1.5vh;
        color:#5d5c5c;
        margin: 0px 0px 0px 10vw;
        font-family: oswald;
        letter-spacing: 2px;
    }
    .home-content p:last-child{
        margin-top:20px;
        color:white;
        border:2px solid #008f91;
        width:120px;
        text-align: center;
        padding:5px;
        border-radius:10px;
        font-size:14px;
    }
    .home-content p:last-child:hover{
        background-color:#008f91;
        cursor:pointer;
    }
    .bg-home-picture p{
        min-height:350px;
        border:2px solid white;
        border-radius: 300px;
        width:350px;
        margin-top:25vh;
        margin-left:auto;
        margin-right:auto;
        background-color:white;
    }
}
