@media only screen and (max-width: 767px) {
  .sidenav {
    height:45px;
    width: 100%;
    background-color: #a74d4d;
  }
  .nav-control{
    text-align:center;
    padding-top:10px;
  }
  .nav-control li{
    display:inline;
    margin-left:5px;
  }
  .nav-network{
    display:none;
  }
  .nav-logo{
    display:none;
  }
} 
@media only screen and (min-width: 768px) {
  .sidenav {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #a74d4d;
    overflow-x: hidden;
    text-align:center;
  }
  .nav-control{
    position:absolute;
    bottom:50%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    list-style-type: none;
  }
  .nav-control li{
    margin:20px 0px 20px 0px;
  }
  .nav-network{
    position:absolute;
    bottom:2%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }
}
